ConsumeWCFSelfHosting/Connected Services/calService/CalcService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CalcService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFSelfhost/CalcService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFSelfhost/CalcService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalcService_ConcatIntValue_InputMessage">
    <wsdl:part name="parameters" element="tns:ConcatIntValue" />
  </wsdl:message>
  <wsdl:message name="ICalcService_ConcatIntValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConcatIntValueResponse" />
  </wsdl:message>
  <wsdl:message name="ICalcService_ConcatStringValue_InputMessage">
    <wsdl:part name="parameters" element="tns:ConcatStringValue" />
  </wsdl:message>
  <wsdl:message name="ICalcService_ConcatStringValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConcatStringValueResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalcService">
    <wsdl:operation name="ConcatIntValue">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalcService/ConcatIntValue" message="tns:ICalcService_ConcatIntValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalcService/ConcatIntValueResponse" message="tns:ICalcService_ConcatIntValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConcatStringValue">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalcService/ConcatStringValue" message="tns:ICalcService_ConcatStringValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalcService/ConcatStringValueResponse" message="tns:ICalcService_ConcatStringValue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalcService" type="tns:ICalcService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConcatIntValue">
      <soap:operation soapAction="http://tempuri.org/ICalcService/ConcatIntValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConcatStringValue">
      <soap:operation soapAction="http://tempuri.org/ICalcService/ConcatStringValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalcService">
    <wsdl:port name="BasicHttpBinding_ICalcService" binding="tns:BasicHttpBinding_ICalcService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFSelfhost/CalcService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>