ConsumeWCFSelfHosting/Connected Services/calService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConcatIntValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value1" type="xs:int" />
        <xs:element minOccurs="0" name="value2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConcatIntValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConcatIntValueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConcatStringValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConcatStringValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConcatStringValueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>